name: Publish to FlakeHub

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    name: Publish to FlakeHub
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/determinate-nix-action@v3

      - name: Publish to FlakeHub
        uses: DeterminateSystems/flakehub-push@main
        with:
          name: forward-distribution/clojure-nix-toolkit
          rolling: true
          visibility: public
